#container_dashboard {
    margin: 0;
    padding: 0;
}

#container_project {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#button_change {
    margin-top: 80px;
    width: 100%;
    background-color: #000051;
    font-size: 20px;
}

h1{
    margin-top: 10px;
}

h3{

    text-align: center;
}
h2{
    margin-top: 10px !important;
}
.progress-bar{
    background-color: #000065 !important;
}