#container_download {
    text-align: center;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

#container_project {
    margin: 0;
    padding: 0;
}

#container_buttons {
    display: flex;
    width: 250px;
}