@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";

h1{
    margin-top: 10px;
}


h3{
    margin-top: 10px !important;
}


#personnelBox, #ddlBox, #dateTime{
    margin-top: 1em;
}

#dateTime{
    margin-bottom: 0;
}

#deleteBox, #endBox{
    margin-top: 2em;
}
#archive{
    margin-top: 1em;
}